<%#views/principal/leaveDetails.ejs%>
<% extend('../layout') %>

<form id='uploadForm' class="circular" >
      <label>Name : <%=details.teacherName%></label>
      </br>
      </br>
      <label>Designation : <%=details.designation%></label>
      </br>
      </br>
      <label>Number of Leave Days : <%=details.noOfLeaveDays%></label>
      </br>
      </br>
      <label>Leaves Taken : <%=details.leavesTaken%></label>
      </br>
      </br>
      <label>Date of Commencing Leave : <%=details.dateOfCommencingLeave%></label>
      </br>
      </br>
      <label>Date of Resuming Duties : <%=details.dateOfResumingLeave%></label>
      </br>
      </br>
      <label>Reason : <%=details.reason%></label>
      </br>
      </br>
      <div id="changeThis"></div>
      <div id="changeable">
        <input type='button' value="Approve" id="Approve" class="btn <%=details._id%>"/>
        <input type='button' value="Disapprove" id="Disapprove" class="btn <%=details._id%>"/>
      </div>
      <div class="input-group-append">
        <a href="/principal/leaveApps"  class="input-group-text">Go Back</a>
      </div>
</form>

<script>
  $(document).ready(function(){
    $('.btn').on('click',function(){
      //alert(this.className.slice(4));
      var id=this.className.slice(4);
      $.ajax({
        type:'POST',
        url:'/principal/leave/approval/'+id,
        data:{approval:this.id},
        success:function(data){
          var cat='<li class="list-group-item">Approved</li></br>';
          var dog='<li class="list-group-item">Disapproved</li></br>';
          if(data.approval=='Approved'){
            $('#changeThis').html(cat);
          }else{
            $('#changeThis').html(dog);
          }
        }
      });
    });
  });
</script>
